#content li label {	display: inline; padding-left: 4px; }

table { width: 100%; }
table th { border-bottom: 1px solid #ddd; padding: 2px; }
table td { padding: 4px 2px 2px 2px; }

img.icon { height: 16px; width: 16px; }

.new-links { float: left; margin: 20px 0 20px 0; }
.nav-links { float: right; margin: 20px; }
.view-links { float: right;  }

#content .twocol input.options { display: inline;  }
#content .twocol label.options { display: inline; float: none; margin-left: 10px; margin-bottom: 5px; }

#content label.inline { display: inline; margin: 0 10px 0 0;}
#content input.inline { display: inline; margin: 5px 0px 0px 10px;}
#content input.small {
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
}

.twocol input,
.twocol textarea,
.twocol select,
.twocol .desc {
	margin-left: 180px;
}
.twocol label {
	width: 170px;
}

.twocol input.txt,
.twocol input.pwd,
.twocol textarea {
	width: 460px; /* iefix.css sets this at 345px */
}
.twocol select { display: inline; margin-left: 0px;	margin-bottom: 5px; }
