/* OUTSELL IE Fix CSS File 1.6 (September 6, 2006)
This file contains styles targeted at fixing bugs in Internet Explorer */

/* ----- NOTE:  If you modify this file, please indicate by incrementing the version number above.
If you can leave a comment by your modification as well, that will make the changes easy to find. */

#dashboard, #press, #industry {
	margin-right: -5px; /* fixes a bug where the breadcrumb navigation would disappear on pages with the right sidebar */
}
#login { width: 270px;}
.reportlisting {
	padding-top: 5px;
}
#services_overview,
#serv-twocol,
#industry_overview,
.ind-twocol,
.industry-facts,
.industry-companies,
#eventcontent hr,
#eventspeaker {
	display: inline; /* fixes double margin/padding bug */
}
.twocol input.txt,
.twocol input.pwd,
.twocol textarea {
	width: 345px;
}
#content #industry-companies ul {
	margin: 0 0 0 20px;
}
#h-feat h2 {margin-bottom: 5px;}
#banner-go, #banner-braingain {
	margin-bottom: 5px;
}
.bannerbox .evbutton {
	padding: 0;
	margin: 0;
	display: inline;
}
.bannerbox .evbutton a {
	margin-bottom: 10px;
}
.fullwidth #aboutcontent hr, #eventcontent hr {
	margin: 10px 0 0;
}


