/*-------------------- DEFAULTS AND LAYOUT ---------------------*/
body {
	font-family:arial, helvetica, sans;
	font-size:62.5%;
	text-align:center;
	margin-top:25px;
	color: #505050;
}
body * {
	margin:0;
	padding:0;
	border:none;
}

#wrapper {
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	width:765px;
}
#header {
	float: left;
	width:764px;
	position: relative;
	border-right: 1px solid #D0D893;
	border-left: 1px solid #D0D893;
	border-top: 1px solid #D0D893;
}
#navigation {
	float: left;
	padding-bottom: 10px;
}

#divider {
	clear: both;
	width:763px;
	height: 6px;
	font-size: 2px;
	background-color:#E6ECB5;
	border-left: 1px solid #D0D893;
	border-right: 1px solid #D0D893;
}
#innerwrapper {
	float: left;
	border-left: 1px solid #D0D893;
	border-bottom: 1px solid #D0D893;
}

#contentcolumn {
	float: left;
	padding-left: 20px;
	width: 743px;
	border-right: 1px solid #D0D893;
}

#content {
	padding-bottom: 25px;
	width: 765px;
}

.status-updated-date {
	color: #bbb;
	font-size: .8em;
}

#header h1 {
	width: 290px;
	margin: 20px 0 15px 13px;
}
#header h1 a {
	display: block;
	width: 280px;
	overflow: hidden;
}

#mainstory h1 {
	height: 30px;
	margin: 0px 0 0 0;
}


em, sup, sub, strong {
	color: inherit;
}

#content a {
	color: #000000; /* ------------- black */
}

#content a:visited { color: #808080;}

#content h1,
#content a:hover,
#contentcolumn #content ul li.more a,
.logo-blue-link:hover  {
	color: #E97D1C; /* ------------- orange */
}
#content h2,
#content h3,
#content h3 a,
#pagination .thispage,
#contentcolumn #content li.more a:hover,
.logo-blue-link {
	color: #6FAAC5; /* ------------- logo blue */
}
.req:before,
#errorExplanation h2,
#errorExplanation p,
#errorExplanation li {
	color: #942222; /* ------------- dark red */
}

/* ------------------- LINKS - TEXT DECORATION ------------------- */
.accessibility,
#content h3 a {
	text-decoration: none;
}
em, sup, sub, strong {
	text-decoration: inherit;
}

.orange-link  {
	color: #E97D1C; /* ------------- orange */
	text-decoration: none;
}

/* -------------------------- HEADINGS ------------------------- */
#content h1 {  
	font-size: 2.1em;
	line-height: 20px;
	font-weight: normal;
	margin-bottom: .1em;
}
#update-fields {
	background-color: #867A78;
	padding: 10px;
	margin-left: -20px;
}
ul#timeline-list li {
	margin-bottom: .2em;
	
}

ul#timeline-list li em{
	color: #aaa;
}
.date-header {
	width: 200px;
	padding: 2px;
	margin-left: -20px;
	background-color: #D0D893;
	font-size: 1.3em;
	line-height:35px;
}

.rest-in-place,
.in_place_editor_field {
	font-size: 1.7em;
	line-height: 30px;
	font-weight: bold;
	margin-bottom: .4em;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #fff;
}
.rest-in-place input[type="text"] ,
.inplaceeditor-form input[type="text"] {
	font-weight: bold;
	font-size: 1em;
	line-height: 30px;
	width: 500px;
	background-color: #fff;
}
	
#content h2 {
	margin: 1.3em 0 0;
	font-size: 1.7em;
	font-weight: normal;
}

#content h3 {
	font-size: 1.4em;
	margin-top: .8em;
}

#content h4 {
	display: inline;
	font-size: 1.2em;
	font-style: italic;
}
#everyone h2 {
	margin: 0.6em 0 0;
	height: 19px;
	width: 59;
}

/* ------------------------- PARAGRAPHS ------------------------ */
#content p {
	font-size: 1.2em;
	line-height: 1.4em;
	margin-bottom: .6em;
}
#content .smaller {font-size: .8em;}
#content .note {font-size: .7em;}
#content .small {font-size: 1.1em;}
#content .topspace {margin-top: 2em;}
#content .clear {clear: both;}

#mainstory p {
	font-size: 1.5em;
	margin-right: 1em;
	
}

/* --------------------------- LISTS ---------------------------- */
dd, dl {
	font-size: 1.2em;
	line-height: 1.4em;
	margin-bottom: .4em;
}
dd {
	font-size: .9em;
}
	
#content ol {
	list-style-type: decimal;
	margin: .2em 0 .8em 0	.5em;
}
#content ul {
	list-style-type: square;
	list-style-image: none; /* turns off default list bullet */
	margin: .2em 0 .8em 0em;
}
#content li {
	font-size: 1.2em;
	line-height: 1.4em;
	margin-bottom: 1.0em;
}
#everyone ul {
	list-style-type: none;
	list-style-image: none; /* turns off default list bullet */
}

#everyone ul.accomplishments li {
	list-style-type: square;
	list-style-position: inside;
	margin-bottom: .2em;
	padding-left: .5em;
}

#everyone li.accomplished {
	font-size: .8em;
	margin-bottom: .1em;
}

#mainstory {
	float: left;
	width: 66%;

}
#everyone {
	margin-top: 10px;
	margin-right: 50px;
	padding: 0px 5px 0px 5px;
	float: right;
	width: 25%;
	border: 1px solid #ccc;
}

hr {
	clear: both;
	width: 100%;
	height: 9px;
	color: #E6ECB5;
	background-color: #E6ECB5;
}

/* --------------------------- FORMS --------------------------- */
#content form div {
	font-size:1.1em;
	line-height: .6em;
	margin-bottom: 1.6em;
}
.new-accomplishment {
	font-size: 1.2em;
}

#content input {
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	background-color: #fff;
}

/* ------- FORM ERROR STYLES -------- */
#content .fieldWithErrors { display: inline; }
#content .fieldWithErrors input.txt{ border: 1px solid #942222; }
#content #errorExplanation { border: 1px solid #942222; padding: 0 10px 0 10px; background-color: #F5F5F5; }
#content #success { border: 1px solid #5B7538; padding: 0 10px 0 10px; background-color: #F5F5F5; }
#errorExplanation h2 { font-size:1em; line-height: 1.3em; margin: 10px 0 .6em 0;text-transform:uppercase;font-weight: bold; letter-spacing:.1em; }
#success  h2 { font-size:1.2em; line-height: 1.3em; margin: 10px 0 .6em 0; font-weight: bold; letter-spacing:.1em; }
#errorExplanation p, #errorExplanation li, #success p, #success li {  list-style-image:none; font-size: 1em; line-height: 1.1em; }

#content input.btn{
	border: 1px double #000;
	border-bottom-color: #7c7c7c;
	border-left-color: #c3c3c3;
	border-right-color: #7c7c7c;
	border-top-color: #dddddd;
	background: none;
	background-color: #E4E8EB;
	padding: 3px;
	margin: 3px;
}

.editor_ok_button,
.editor_cancel_link {
	border: 1px double #000;
	border-bottom-color: #7c7c7c;
	border-left-color: #c3c3c3;
	border-right-color: #7c7c7c;
	border-top-color: #dddddd;
	background: none;
	background-color: #E4E8EB;
	padding: 3px;
	margin: 3px;
	font-size: .9em;
	text-decoration: none;
}

/* ------------ WIDTHS ------------- */
.w350 {width: 350px;}
.w545 {width: 545px;}

#content li label {	display: inline; padding-left: 4px; }

table { width: 100%; }
table th { border-bottom: 1px solid #ddd; padding: 2px; }
table td { padding: 4px 2px 2px 2px; }

img.icon { height: 16px; width: 16px; }

.new-links { float: left; margin: 20px 0 20px 0; }
.nav-links { float: right; margin: 20px; }
.view-links { float: right;  }

#content .twocol input.options { display: inline;  }
#content .twocol label.options { display: inline; float: none; margin-left: 10px; margin-bottom: 5px; }

#content label.inline { display: inline; margin: 0 10px 0 0;}
#content input.inline { display: inline; margin: 5px 0px 0px 10px;}
#content input.small {
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
}

.twocol input,
.twocol textarea,
.twocol select,
.twocol .desc {
	margin-left: 180px;
}
.twocol label {
	width: 170px;
}

.twocol input.txt,
.twocol input.pwd,
.twocol textarea {
	width: 460px; /* iefix.css sets this at 345px */
}
.twocol select { display: inline; margin-left: 0px;	margin-bottom: 5px; }

